<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add skills</title>


	    <!-- Compiled and minified CSS -->
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

	    <!-- Compiled and minified JavaScript -->
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

    <link rel="stylesheet" href="addjob.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->

  </head>
  <body id="body">


    <div class="row">
    <div class="card-panel">
    <div id="heading">
    <h2 id="hed">ADD JOBS</h2>
    </div>
<form class="col s12" action="#!recuiterprofile">
         <div class="row">

           <div class="input-field col s6">
             <input id="designation" type="text" class="validate">
             <label for="designation" style="font-size:1.5rem;">Designation</label>
           </div>
           </div>
		<div class="row">
		           <div class="input-field col s6">
		             <input id="skills_required" type="text" class="validate">
		             <label for="skills_required" style="font-size:1.5rem;">Skills Required</label>
		           </div>
		           </div>
		 <div class="row">
		            <div class="input-field col s6">
		              <input id="salary" type="text" class="validate">
		              <label for="salary" style="font-size:1.5rem;">Salary</label>
		            </div>
		            </div>

		<div class="row">
				           <div class="input-field col s6">
				             <input id="date" type="text" class="validate">
				             <label for="date" style="font-size:1.5rem;">Date</label>
				           </div>
				           </div>
	 <div class="row">
		   <div class="input-field col s6">
		 <input id="time" type="text" class="validate">
		<label for="time" style="font-size:1.5rem;">Time</label>
		</div>
		</div>
    <button class="btn waves-effect waves-light" style="background-color:black;color:white;" type="submit" name="action">Add Jobs</button>
		</form>



      <div>
  </div>

  </body>
  </html>
