<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Employee Profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="Employee_Profile.css">
  </head>
  <body>
    <div class="card-panel">

  <div class="col s2">
              <img src="images/infosys.png" alt="s" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
          <div class="txt">
          <p>Name</p>
          <p>email</p>
          <p>contact</p>
          <p>Current_Position</p>
          <p>year of expirence</p>
        </div>
        <button class="btn waves-effect waves-light black"  type="submit" name="action"><b>Edit Profile</b></button>&nbsp
        &nbsp&nbsp&nbsp<a class="btn-floating btn-large waves-effect waves-light black" href="#!addskill"><i class="material-icons">add</i></a>
  </div>
  <div class="card2"
  <div class="card-panel">
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="#test1"><b>Jobs Applied</b></a></li>
      </ul>
      <table>
        <tr>
          <td>Company</td>
          <td>Designation</td>
          <td>Date</td>
          <td>Time</td>
      </tr>
      </table>
      <a class="btn waves-effect waves-light black" href="#!postjob">Apply Job</a>



    </div>
    </div>
  </div>

</div>

  </body>
</html>
