<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Recovery</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="sand.css">
    <link href="https://fonts.googleapis.com/css?family=Merienda" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  </head>
  <body>
    <div class="card-panel" >


    <div class="row">
      <div id="sample">
        <h5>Recovery Password</h5>
    <form class="col s12">

      <div class="row">
         <div class="input-field col s6">
           <input id="password" type="password" class="validate">
           <label for="password">New Password</label>
         </div>
       </div>


    <div class="row">
       <div class="input-field col s6">
         <input id="password" type="password" class="validate">
         <label for="password">Confirm Password</label>
       </div>
     </div>


      <div class="row3">
      <div class="input-field col s14">
      <a class="waves-effect waves-light btn" href="#">Submit</a>
      </div>

    </div>
    </div>
  </body>
</html>
