	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
			<link rel="stylesheet" href="Recuiter.css">
	    <!-- Compiled and minified JavaScript -->
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <div class="row">
			<form class="col s12" action="#!recuiterprofile">
    <div class="card-panel">
    <h2 id="hed">Complete to Continue....</h2>
         <div class="row">
           <div class="input-field col s6">
             <input id="company_name" type="text" class="validate">
             <label for="company_name" style="font-size:1.5rem;">Company Name</label>
           </div>
           </div>
		<div class="row">
		           <div class="input-field col s6">
		             <input id="Company_website" type="text" class="validate">
		             <label for="Company_website" style="font-size:1.5rem;">Company website</label>
		           </div>
		           </div>
		 <div class="row">
		            <div class="input-field col s6">
		              <input id="Company_Location" type="text" class="validate">
		              <label for="Company_Location" style="font-size:1.5rem;">Company_Location</label>
		            </div>
		            </div>

		<div class="row">
				           <div class="input-field col s6">
				             <input id="contact" type="text" class="validate">
				             <label for="contact" style="font-size:1.5rem;">Contact no</label>
				           </div>
				           </div>
	 <div class="row">
		   <div class="input-field col s6">
		 <input id="name_of_ceo" type="text" class="validate">
		<label for="name_of_ceo" style="font-size:1.5rem;">Name of CEO</label>
		</div>
		</div>
		</form>
		<button class="btn waves-effect waves-light black" type="submit" name="action">Done</button>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
		&nbsp
		<button class="btn waves-effect waves-light black" type="cancle" name="action">Cancle</button>


      <div>
  </div>
