body{
  background: whitesmoke;
}
#navigation{
  background: white;
  width: 90%;
  padding-left: 1.5%;
  margin-left: 5%;
  box-shadow: 9px 9px lightgray;
  margin-top: 0%;
}

ul p{
  margin-top:-1%;
}

}
#Jobs #heading{
 color:maroon;
  font-size: 130%;
  padding-top: 1%;
}
.btn{
  float: right;
  margin-top: -5.3%;
  margin-right: 1%;


}
