#sample{
  padding-left:30%;
  margin: 80px auto;

}
.row3{
  padding-right:4px;
  padding-top: 50px;

}

.row4{
width: 50%;
padding-left: 0px;
}

.input-field input:focus + label {
   color: black !important;
  font-size:100%;

 }
 /* label underline focus color */
 .row .input-field input:focus {
   border-bottom: 1px solid black !important;
   box-shadow: 0 1px 0 0 black !important
 }
